<div class="row">
  <div class="col-xs-6">
    <%= image_tag(@vehicle.photo_url) %>
  </div>

  <div class="col-xs-6">
    <h1><%= "#{@vehicle.name} - #{@vehicle.year}" %></h1>
  </div>
</div>

<div style="margin-top: 3em;">
  <%= form_for [@vehicle, Expense.new] do |f| %>

    <%= f.hidden_field :vehicle_id, value: @vehicle.id %>

    <div class="form-group row">
      <%= f.label :category, class: "col-2 col-form-label text-right" %>
      <div class="col-10">
        <%= f.text_field :category, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :amount_cents, class: "col-2 col-form-label text-right" %>
      <div class="col-10">
        <%= f.number_field :amount_cents, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :date, class: "col-2 col-form-label text-right" %>
      <div class="col-10">
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>

    <div class="text-right">
      <%= f.submit class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
